<!DOCTYPE html>
<html lang="pt" ng-app="desafio">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Desafio Front End</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet"/>
    <link href="css/general.css" rel="stylesheet">

</head>
<body>

<header class="container-fluid">
    <div class="row"></div>
</header>

<section class="container-fluid" ng-controller="UsersController">
    <div class="row">
        <div class="col-xs-2 menu">
            <button type="button" class="btn btn-sort" ng-class="{'active': sortorder === 'name'}" ng-click="sortBy('name')">ORDENAR NOME</button>
            <button type="button" class="btn btn-sort" ng-class="{'active': sortorder === 'birthdate'}" ng-click="sortBy('birthdate')">ORDENAR NASCIMENTO</button>
            <button type="button" class="btn btn-sort" ng-click="changeFilterGender('male')">FILTRO HOMENS</button>
            <button type="button" class="btn btn-sort" ng-click="changeFilterGender('female')">FILTRO MULHERES</button>
        </div>
        <div class="col-xs-10">
            <input class="form-control" id="searchbar" type="text" ng-model="filtro" placeholder="O QUE VOCÊ DESEJA BUSCAR...."/>
            <div class="row header-table">
                <div class="col-xs-7">
                    NOME
                </div>
                <div class="col-xs-3">
                    DT NASCIMENTO
                </div>
                <div class="col-xs-2">
                    SEXO
                </div>
            </div>

            <div class="row body-table"
                 ng-repeat="user in users.users | orderBy:sortorder | filter:filtro"
                 ng-hide="filtergender!='all' && filtergender!=user.gender">
                <div class="col-xs-7" ng-bind="user.name"></div>
                <div class="col-xs-3">
                    {{user.birthdate}}
                </div>
                <div class="col-xs-2">
                    <i class="fa" ng-class="{'fa-mars': user.gender=='male', 'fa-venus': user.gender=='female'}"
                       aria-hidden="true"></i></div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-add-user" data-toggle="collapse" data-target="#formuser">+ ADICIONAR</button>
                </div>
            </div>

            <!-- Colocar form - olhar angularjs forms validation -->
            <form id="formuser" class="collapse" ng-submit="changeUsersData()" name="formUser" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>NAME</label>
                                    <input required ng-model="newEntry.name" type="text" class="form-control" id="nameInput">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>DT NASCIMENTO</label>
                                    <input ng-required="true" ng-model="newEntry.birthdate" class="form-control" id="date" name="date"
                                           placeholder="DD/MM/YYY" type="text"/>

                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>SEXO</label>
                                    <select id="gender" ng-required="true" ng-model="newEntry.gender"
                                        ng-options="gender.id as gender.value for gender in genderList track by gender.id">
                                    </select>

                                </div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn cancel" ng-click="cleanFields()" type="button" data-toggle="collapse" data-target="#formuser">CANCEL</button>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn" type="submit" data-toggle="collapse" data-target="#formuser" ng-disabled="formUser.$invalid">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>


<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="lib/bootstrap-datepicker.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/users-controller.js"></script>
<script src="js/services/users-data.js"></script>
<script src="js/general.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>